{% load static %}
<header>
  <img src="{% static 'img/logo.png' %}" />
</header>
<nav>
  <ul>

    <li><a href="{% url 'home_view' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'book' %}">Book</a></li>
      Hi {{ user.username }}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    
    {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    

    
  </ul>
</nav>
